@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.hero{
  @include flex(column, flex-start, center, $space-6);
  //background-image:url('../../assets/pictures/Frame 45 (1).png');
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  padding: $space-6 $space-4;
  text-align:center;
  margin:0px;

  @include respond(768px){
    @include flex(row, space-between, center, $space-6);
    text-align:left;
    padding: $space-6 0 $space-6 $space-4 ;

  }
  &-text{
    @include flex(column, flex-start, stretch, $space-4);
    flex:1;
    @include respond(768px){
      margin-left:$space-6;
    }

    h1{
      font-size:1.5rem;

      @include respond(1024px){
        font-size:2rem;
      }
    }
    p:first-child {
      color:$color-primary;
      font-weight:600;
      font-size:0.85rem;
    }
    button {
      align-self:center;
      background-color: $color-primary;
      color:BLACK;
      cursor:pointer;
      border-radius:52px;
      padding:$space-2 $space-6;
      border:none;
      font-weight:600;

      @include respond(1024px){
        align-self:flex-start;
      }
    }
  }
  &-image{
    flex:2; 
    img{
    width:100%;
    max-width:none;
  }
}
  &-text-2{
    color:$color-text-muted;
  }
}
