@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.tokner-coming{
  @include flex(column, flex-start, center, $space-6);
  padding:$space-6 $space-4;
  text-align:center;


  @include respond(1024px){
    @include flex(row, space-between, center, $space-6);
    text-align:left;
  }

  &-text{
    @include flex(column, flex-start, stretch, $space-4);
    max-width: 65ch;
    flex:1;
    margin-left:5rem;


    img{
      width: 40px;
      align-self:center;

      @include respond(1024px){
        align-self:flex-start;
      }
    }
    h2{
      font-size:1.75rem;
    }
    p{
      color:$color-text-muted;
      font-size:0.7rem;
    }
    button{
      align-self:center;
      background-color:$color-bg-dark;
      border:1px solid $color-primary;
      border-radius:999px;
      font-weight:600;
      padding:$space-2 $space-4;
      color:white;

      @include respond(1024px){
        align-self:flex-start;
      }
    }   
  }
  &-image{
    flex:1;
    img {
      width:100%;
      max-width:400px;
    }
  }
}

.tokner-coming-image{
  margin-right:0;
}