$color-bg-dark: #0b0b17;
$color-primary: #22A75D;
$color-text-light: #fff;
$color-text-muted: #DDE2FF;
$font-primary: 'Century Gothic', sans-serif;
$space-2:0.8rem;
$space-3: 1rem;
$space-4: 1.5rem;
$space-5: 2rem;
$space-6: 3rem;
